---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Section from "../components/Section.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/Github.astro";
import InstagramIcon from "../components/icons/Instagram.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefcaseIcon from "../components/icons/BriefCase.astro";
import CodeIcon from "../components/icons/Code.astro";
import UserIcon from "../components/icons/About.astro";
import AddressIcon from "../components/icons/Address.astro";
import WhatsAppIcon from "../components/icons/WhatsappIcon.astro";
---

<Layout title="Portfolio de José Ochoa - Desarrollador Web" description="Contrata a José Ochoa para crear tu app web. Desarrollador Web (FrontEnd)">
	<main class="px-4">
		<Section id="top" class="mx-auto sm:py-[100px] py-[45px]">
			<h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy José Ochoa <div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/jos%C3%A9-ochoa-carrillo-a8275a26b/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Disponible para laborar</Badge></a
					>
				</div>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap pb-4">
				+2 años de experiencia. <span class="text-purple-300/90">
					Desarrollador Web. </span
				>
                <span class="text-pink-400/70">De Colima, México 🇲🇽</span>
			</h2>
			<nav class="flex gap-4 flex-wrap">
                <SocialIcons href="https://www.linkedin.com/in/jos%C3%A9-ochoa-carrillo-a8275a26b/" class="hover:bg-[#0a66c2]">
                    <LinkedInIcon class="sm:size-5 size-4" />
                    LinkedIn
                </SocialIcons>
                <SocialIcons href="https://github.com/Guada8a" class="hover:bg-[#814d9d]">
                    <GitHubIcon class="sm:size-5 size-4" />
                    GitHub
                </SocialIcons>
                <SocialIcons href="https://wa.me/523122419442?text=Chatear%20con%20Jose%20Ochoa" class="hover:bg-[#00e677b7] hover:text-white">
                    <WhatsAppIcon class="sm:size-6 size-5" />
                    WhatsApp
                </SocialIcons>
                    <SocialIcons href="https://www.instagram.com/wada8a/" class="bg-gradient-to-r from-white/10 to-white/10 hover:from-[#405DE6] hover:via-[#5B51D8] hover:via-[#833AB4] hover:via-[#C13584] hover:via-[#E1306C] hover:via-[#FD1D1D] hover:via-[#F56040] hover:via-[#777737] hover:via-[#FCAF45] hover:to-[#FFDC80]">
                    <InstagramIcon class="sm:size-5 size-4" />
                    Instagram
                </SocialIcons>
                <SocialIcons href="mailto:jochoa10@ucol.mx" class="hover:bg-red-600/40">
                    <MailIcon class="sm:size-5 size-4" />
                    jochoa10@ucol.mx
                </SocialIcons>
            </nav>
		</Section>
        <Section class="mx-auto mb-10" id="about">
            <h2 class="text-2xl lg:text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <UserIcon class="size-8" />Sobre mí</h2>
            <p class="text-lg lg:text-xl text-pretty">
                Soy un desarrollador web con más de 2 años de experiencia. Mi objetivo es crear aplicaciones web rápidas, intuitivas y accesibles para todos. Me apasiona aprender nuevas tecnologías y compartir mis conocimientos. Actualmente, estoy estudiando Ingeniería de Software en la Universidad de Colima.
            </p>
        </Section>
        <Section class="mx-auto" id="experiencia">
            <h2 class="text-2xl lg:text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <BriefcaseIcon class="size-8" />Experiencia Laboral</h2>
            <Experience />
        </Section>
        <Section class="mx-auto mb-10" id="proyectos">
            <h2 class="text-2xl lg:text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <CodeIcon class="size-8" />Proyectos</h2>
            <Projects />
        </Section>
        <Section class="mx-auto" id="contacto">
            <h2 class="text-2xl lg:text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <AddressIcon class="size-8" />Contacto</h2>
            <p class="text-lg lg:text-xl text-pretty">
                Si deseas contactarme puedes hacerlo a través de mis redes
                sociales o enviándome un correo electrónico a
                <div class="flex gap-x-5 mt-2 mx-auto justify-center">
                    <SocialIcons href="mailto:jochoa10@ucol.mx" class="hover:bg-[#a2bf41]">
                        <MailIcon class="sm:size-5 size-4" />
                        jochoa10@ucol.mx
                    </SocialIcons>
                    <SocialIcons href="mailto:ochoag2803@gmail.com" class="hover:bg-red-600/40">
                        <MailIcon class="sm:size-5 size-4" />
                        ochoag2803@gmail.com
                    </SocialIcons>
                </div>
            </p>

        </Section>
	</main>
</Layout>
