---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        title: 'Front-End Developer',
        company: 'Servicios Profesionales ESTMAR SA de CV',
        description: 'Creación de módulos y mantenimiento de la plataforma Puerto Inteligente Seguro (PIS).',
        date: 'Junio 2024 - Diciembre 2024'
    },
    {
        title: 'Front-End',
        company: 'UCOL - Dirección de Sistemas',
        description: 'Desarrollo del Sistema de Planeación Académica de Media Superior',
        date: 'Marzo 2024 - Actualidad'
    },
    {
        title: 'Front-End Developer',
        company: 'UCOL - EDUC',
        description: 'Reediseño de apartados, implementación de nuevas funcionalidades y corrección de errores en la plataforma.',
        date: 'Agosto 2023 - Marzo 2024'
    },
    {
        title: 'Desarrollador Web',
        company: 'UCOL - EDUC',
        description: 'Codificación de apartados web e implementación de nuevas funcionalidades en la plataforma.',
        date: 'Noviembre 2020 - Agosto 2021'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700  ml-4">
    {
        EXPERIENCE.map(exp => {
            return (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...exp} />
                </li>
            )
        })
    }
</ol>
