---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        title: 'Front-End Developer',
        company: 'ASIPONA Manzanillo',
        description: 'Creación de módulos y mantenimiento de la plataforma Puerto Inteligente Seguro (PIS).',
        date: '2024 - Actualidad'
    },
    {
        title: 'Front-End',
        company: 'UCOL - Dirección de Sistemas',
        description: 'Desarrollo del Sistema de Planeación Académica de Media Superior',
        date: '2024 - Actualidad'
    },
    {
        title: 'Front-End Developer',
        company: 'EDUC',
        description: 'Reediseño de apartados, implementación de nuevas funcionalidades y corrección de errores en la plataforma.',
        date: '2023 - 2024'
    },
    {
        title: 'Desarrollador Web',
        company: 'EDUC',
        description: 'Codificación de páginas web e implementación de nuevas funcionalidades en la plataforma.',
        date: '2020 - 2021'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700  ml-4">
    {
        EXPERIENCE.map(exp => {
            return (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...exp} />
                </li>
            )
        })
    }
</ol>
