<header class="md:flex md:justify-between items-center py-5 w-full xl:w-[1120px] lg:w-[720px] md:w-[620px] mx-auto">
    <img
        class="rounded-full size-12 mx-auto mb-5 md:mx-0 md:mb-0"
        src="https://avatars.githubusercontent.com/u/75002967?v=4"
        alt="logo"
    />
    <nav class="flex flex-col sm:flex-row gap-x-10 opacity-80 text-center md:text-left md:justify-center">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
