<a href={Astro.props.href} 
class={
    `
    border border-white/0
    hover:border-white/10 rounded-full
        flex justify-center items-center gap-x-2 px-4
    hover:border-gray-300
    hover:text-gray-900
    hover:bg-gray-50
    hover:shadow-sm
    `
}>
	<slot />
</a>
