---
interface Props {
	href: string;
}
---
<a
	href={Astro.props.href}
	class="rounded-full px-4
    flex items-center justify-center gap-x-2
    border border-transparent
    transition-all duration-300
    bg-transparent
    hover:border-white/10
    hover:bg-black
    hover:text-white
    hover:shadow-sm
    dark:hover:border-gray-300
    dark:hover:bg-gray-50
    dark:hover:text-gray-900"
>
	<slot />
</a>
