---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        color-scheme: dark;
    }
    html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        position: relative;
        overflow-x: hidden;
    }

    #stars, #stars2, #stars3 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
    }

    #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 1560px 989px #FFF , 1569px 834px #FFF , 452px 605px #FFF;
        animation: animStar 50s linear infinite;
    }

    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 1327px 578px #FFF , 1761px 950px #FFF , 1332px 714px #FFF;
        animation: animStar 100s linear infinite;
    }

    #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 1359px 843px #FFF , 1773px 1687px #FFF , 1635px 1783px #FFF;
        animation: animStar 150s linear infinite;
    }

    @keyframes animStar {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-2000px);
        }
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
        #stars, #stars2, #stars3 {
            animation: none;
        }
    }
</style>